<div class="betBox">
<div class="usrPic">
</div>
<div class="usrInfo">
<p class="usrName"> user: {{user.name}}</p>
<p></p>
<p></p>
<p></p>
</div>
<div class="betInfo">
<div class="prediction">
<p> bet description:{{prediction}}</p>
</div>
<div class="bottom">
<p class="betPrice"> bet price:{{price}} </p>
<button class="interestedButton"></button>
</div>
</div>
</div>
{{!-- 
var bet= {
    id:number
    prediction: text
    price: float
    user: User.object
interested_friends:[]
} --}}
