<div class="profilebetsContainer">
	<div class="prediction">
		
		<div class="leftSide">
			<div class="prediction">
				<p> Bet Description:{{prediction}}</p>
			</div>

			<div class="referee">
				<p> Referee:{{referee}}</p>
			</div>
		</div>
			
		<div class="rightSide">
			<div class="judgementDay">
				<p> Judgement Day:{{judgmentDay}}</p>
			</div>

			<div class="price">
				<p> Price:{{price}}</p>
			</div>
		</div>
</div>