
<div class="friendContainer" id='{{this.id}}'>
	
	<img class="usrPic" src="{{this.ImageLink}}">
	
	<div class="radio">
		<label>
			<input type="radio" id="blankCheckbox" name='participant' value='{{this.id}}' aria-label="...">
				<div class="friendName">{{this.UserName}}</div>

		</label>
	</div>

</div>


