<div class="friendContainer" id='{{user.id}}'>
	<img class="usrPic" src="{{user.ImageLink}}">
	
	<div class="checkbox">
		<label>

			<input type="checkbox" id="blankCheckbox" value="{{this.id}}" name="players" aria-label="...">
				<p class="friendName">{{this.UserName}}</p>

		</label>
	</div>

</div>

