<div class="friendContainer" id='{{user.id}}'>
	<img class="usrPic" src="{{user.ImageLink}}">
	
	<div class="checkbox">
		<label>
		
			<input type="checkbox" id="blankCheckbox" value="{{user.id}}" aria-label="...">
				<p class="friendName">{{user.UserName}}</p>
		</label>
	</div>

</div>


