<div class="friendContainer" id='{{this.id}}'>
	<img class="usrPic" src="{{this.ImageLink}}">
	<p class="friendName">{{this.UserName}}</p>
	<button class="inviteFriend" id='{{this.id}}'>Invite Friend</button>
</div>