<div class="friendContainer" id='{{this.id}}'>
	
	<img class="usrPic" src="{{this.ImageLink}}">
	
	<div class="checkbox">
		<label>
			<input type="checkbox" id="blankCheckbox" name='participant' value="{{this.id}}" aria-label="...">
				<div class="friendName">{{this.UserName}}</div>
		</label>
	</div>

</div>


