<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
	<title>Better Bet</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
=======
	<title>Bet The Future</title>
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
>>>>>>> f338716b99988bc25f084a5a0475346f32f6befe
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	
</head>
<body>
<div class="container">

	{{!-- <div class='row'>
		<div class='col-sm-12' id='header'>
			<h1>Welcome!</h1>
		</div>
	</div> --}}
	{{{body}}}
	
</div>

</body>
</html>