<link rel="stylesheet" type="text/css" href="/assets/css/homeStyle.css">

<div class="container">
	<div class="row">
		<div class="col-md-12">
		

		</div>
	</div>

		<div class='row'>
			<div class=" col-md-offset-2 col-md-7 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-6 cloudDiv1" id='makeBet'>
				<div class="row">
					<div class="col-md-offset-3 col-md-7 col-sm-offset-4 col-sm-5 co-lg-7">
						
						<form class="form-horizontal">

							<div class="form-group">
							<div class="col-md-10">
								<h1>Make A Bet</h1>
								<label for="predition">Prediction:</label>
								<input type="prediction" class="form-control" id="inputPrediction" >
							</div>
							</div>
							<div class="form-group">
								<div class="col-md-10">
									<label for="referee">Referee:</label>
									<input type="referee" class="form-control" id="inputReferee">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-5">
									<label for="cash">Cash, Homie:</label>
									<input type="cash" class="form-control" id="inputCash">
									<label for="judgementDay">Judgement Day:</label>
									<input type="judgementDay" class="form-control" id="inputJudgementDay">
								</div>
							</div>
						
							<div class="form-group">
								<div class="text-center col-md-10">
									<button type="submit" class="btn btn-default">Let's Do This!</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-2 friendsBar">
						<h1>Friends</h1>
					</div>
				</div>
			</div>
		</div>


		<div class='row'>
			<div class=" col-md-offset-0 col-md-7 col-sm-offset-3 col-sm-10 col-lg-6 cloudDiv2" id='takeBet'>
				<div class="row">
					<div id="cloud2" class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-3 co-lg-7">
						<h1>Take A Bet</h1>
						<div class="input-group">
						  	<input id="searchBox" type="text" class="form-control" placeholder="Search">
						  		<div class="input-group-btn">
						   			<button id="searchButton" type="submit" class="btn btn-default">Submit</button>
						  	</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>