<div class='row'>
	<div class='col-md-4'>
		<div id='formLogIn'>
			<form method="POST" action="/logIn" class="form">
				<label for="userName"></label>
				<input type="text" name="userName" placeholder="username">
			</form>

		</div>
	</div>

</div>