<div class='row'>

<<<<<<< HEAD
	<div class='col-md-12'>
	<h1>Welcome to the login page!</h1>
=======
	<div class='col-md-4'>
		<div id='formLogIn'>
			<form method="POST" action="/logIn" class="form">
				<label for="userName"></label>
				<input type="text" name="userName" placeholder="username">
			</form>

		</div>
>>>>>>> f338716b99988bc25f084a5a0475346f32f6befe
	</div>

</div>