<div class="modal fade" tabindex="-1" role="dialog" id="modalDiv">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Whoops!</h4>
      </div>
      <div class="modal-body">
        <p id="modalText"></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript" src="../../public/assets/javascript/home.js"></script>


<!-- Small  -->


<!-- <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      ...
    </div>
  </div>
</div> -->


<script type="text/javascript">
function modalIt(message){

	//Grab modal text area
	var modalTextDiv = $("#modalText");

	//Attach error message
	modalTextDiv.text(message);

	//Activate the modal
	console.log("go modal!");
	$("#modalDiv").modal("show");
}

</script>