<link rel="stylesheet" type="text/css" href="/assets/css/profile.css">


<div class="row">
	<div class="col-md-8">
		
	</div>
	<div class="col-md-4">
	  <div id="trendingDiv">
	  	<h5>Trending Winners</h5>
			 <div class="container">
				  <img src="" class="img-rounded" id="trend1" alt="" width="40" height="40">
				  <img src="" class="img-rounded" id="trend2" alt="" width="40" height="40">
				  <img src="" class="img-rounded" id="trend3" alt="" width="40" height="40">
				  <img src="" class="img-rounded" id="trend4" alt="" width="40" height="40">
				  <img src="" class="img-rounded" id="trend5" alt="" width="40" height="40">
			</div>

	  </div>

	</div>


</div>
<div class="row">
	<div class="betBox">
		<div class="usrPic">
		</div>
		<div class="usrInfo">
			<p class="usrName">{{bet.user.name}}</p>
			<p></p>
			<p></p>
			<p></p>
		</div>
		<div class="betInfo">
			<div class="prediction">
				<p>{{bet.prediction}}</p>
			</div>
			<div class="bottom">
				<p class="betPrice"> {{bet.price}} </p>
				<button class="interestedButton"></button>
			</div>
		</div>
	</div>
</div>





