<link rel="stylesheet" type="text/css" href="/assets/css/landingStyle.css">

<div class='row'>
	<div class='col-md-12'>
		<div id='formSignUp'>
			<form method="POST" action="/signUp" class="form">
				<div class="form-group">
					<label for="firstName">First Name:</label>
					<input type="text" name="firstName">

					<label for="lastName">Last Name:</label>
					<input type="text" name="lastName">

					<label for="email">Email:</label>
					<input type="email" name="email">

					<label for="userName">User Name:</label>
					<input type="text" name="userName">

					<label for="password">Password:</label>
					<input type="password" name="password">

					<label for="image">Image Link:</label>
					<input type="text" name="image">

					<button type="submit" id="signUpButton">Sign Me Up!</button>
				</div>
			</form>

		</div>
	</div>

</div>