html {
	height: 100%;
	background: url('home_background.png') no-repeat;
	background-size: cover;
}
body{
	background-color: transparent;
}



.cloudDiv1{
	background-image: url("../images/cloud2.png");
	background-position: -100% 0%;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	transform: translateY(-50%);
	top:62%;
	width: 800px;
	height: 600px;
}
form{
	margin-top: 35px;

}
input{
	border: 2px solid;
    border-radius: 15px;
    padding: 25px;
}
.form-control {
	padding-top:  20px;
	padding-bottom: 20px;
	background-color: #ffcb42;
	color: #613702;
	font-size: 14px;
	border: 2px solid #00bbba;
	border-radius: 11px;

}
h1{
	font-family: 'Fascinate Inline', cursive;
	color: #683b00;
	letter-spacing: -1px;
	text-align: center;
}
label{
	font-size: 15px;
	color: #00bbba;
	font-weight: bold;
}
.btn-default {
    color: white;
    background-color: #00babf;
    border-color: #04a3a3;
}
.cloudDiv2{
	background-image: url("../images/cloud.png");
	background-position: -100% 0%;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	transform: translateY(-50%);
	top:139%;
	width: 800px;
	height: 600px;
}

.placeholder{
	color: #613702;
}

#cloud2{
	margin-top: 25px;
}
#searchButton{
	margin-left: 10px;
	border: 2px solid #00bbba;
	border-radius: 5px;
}
#searchBox{
	border: 2px solid #00bbba;
	border-radius: 11px;
}

    
li{
	color: #ffcb42;
}
#betDiv {
    width: 500px;
    height: 300px;
    overflow: scroll;
    border: 2px solid #00bbba;
	border-radius: 5px;
	margin-left: -140px;
}
#navBar{
	background-image: url("../images/nav_background.png");
	
	position: absolute;
	width: 100%;
	float: right;
    /*margin-top: 15px;*/

}

#navbarBox{
/*	width: 1100px;*/
    

    margin-left:initial;
    margin-right: initial;

}
.logo{
	width: 150px;
	padding: 9px;
	margin-left: -10px
}
 .navbar-default {
    border-color: transparent;
}
ul{
	float: right;
	margin-top: 30px;
}
.nav-pills>li.active>a{
	background-color: #f9891a;
}
a {
    color: #673a03;
    font-weight: bold;

}

#betContainer{
	width: 300px;
	height:600px;

}
.betBox{
	border: 2px solid #00bbba;
	border-radius: 5px;
	margin-left: -100px;
	line-height: 10px;
	padding: 10px;
	font-size: 12px;
	margin-bottom: 5px;
}
.usrPic{
	width: 70px;
	height: 70px;
	border: 2px solid #f79406;
	border-radius: 5px;
	display: inline-block;
    vertical-align: top;
    margin-left: 10px
    


}
#friendsDiv{
	width: 432px;
	height: 120px;
	overflow-y: scroll;
    white-space: nowrap;
    margin-left: -50px;
	/*border: 2px solid #00bbba;
	border-radius: 5px;*/
	/*background-color: white;*/
}

h4 {
	color: #00bbba;
	text-align: center;

}
.friendContainer{
	display: inline-block;
}
label{
	margin-left: 18px;
}
#doThisButton{
	margin-left: 100px;
}

